<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="">
    <clear/>
    <add key="connectionString" value="Data Source=.\SQLSERVER2012; database=AGUSTIN;"/>
    <!--<add key="systemTime" value="26/06/2016 00:00:00 AM"/>-->
  </appSettings>
</configuration>